@font-face {
  font-family: HolidayFree;
  src: url("HolidayFree.otf");
}

:root {
  --primary-color: #f4d6d3;
  --secondary-color: #c5d8d3;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --heading-font: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
}

.head-background {
  background: linear-gradient(-45deg, #c5d8d3, #f1c8c3, #c44761, #c44761);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  background-color: var(--primary-color);
}
.background-header {
  position: absolute;
  z-index: -1;
  top: -120px;
  left: -100px;
  width: 900px;
}

.navbar-brand {
  font-family: HolidayFree;
  color: #6d6e71;
}
.nav-link {
  font-family: Roboto;
}
.navbar {
  opacity: 0.8;
}

/* nav a:hover,
nav li.active a {
  color: white;
} */

h1 {
  text-align: center;
  /* margin-top: 20px; */
  font-size: 320px;
  color: white;
  font-weight: bold;
  font-family: var(--heading-font);
}

.typewriter {
  padding-top: 40px;
  font-size: 320px;

  padding: 100px 100px;
  text-shadow: 7px 7px #6d6e71;
}

.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid #ffffff; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0em; /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #ffffff;
  }
}

h2 {
  text-align: center;
  font-size: 60px;
  font-family: HolidayFree;
  color: #6d6e71;
}

.i-am {
  padding-top: 50px;
}

.my-name {
  font-size: 80px;
  color: white;
  /* position: relative;
  top: 10px; */
}
.owner-img {
  box-shadow: #6d6e71 10px 10px;
  border-radius: 5px;
  width: 400px;
}

.developer,
.based {
  font-size: 68px;
}

.maple-leaf {
  color: #c44761;
  font-size: 100px;
}

.primary-link {
  display: block;
  margin: 0 auto;
  width: 350px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-align: center;
  background: white;
  box-shadow: var(--box-shadow);
  font-family: var(--heading-font);
  color: #6d6e71;
  font-size: 25px;
  transition: 0.3s ease-in-out;
}

.primary-link:hover {
  color: white;
  background-color: #c44761;
  transform: scale(0.97);
}

.responsive {
  width: 100%;
  display: flex;
  padding: 20px 50px;
  font-family: HolidayFree;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
}
.resp {
  color: white;
  font-size: 30px;
  position: relative;
  top: 10px;
  margin-right: 20px;
}

@media (max-width: 991px) {
  .typewriter {
    padding-top: 120px;
  }
  h1,
  .typewriter {
    font-size: 150px;
  }
  .i-am {
    font-size: 45px;
    padding-top: 50px;
  }
  .my-name {
    font-size: 60px;
  }
  .developer,
  .based,
  .maple-leaf {
    font-size: 60px;
  }
  .col {
    height: 100px;
  }
  .responsive {
    margin-top: 80px;
  }
}

@media (max-width: 631px) {
  .typewriter,
  h1 {
    font-size: 70px;
  }

  .i-am {
    font-size: 25px;
    padding-top: 30px;
  }
  .owner-img {
    width: 250px;
  }
  .typewriter {
    /* height: 40px; */
    text-shadow: 4px 4px #6d6e71;
    padding: 100px 50px 50px 50px;
    /* margin-top: 30px; */
  }
  .my-name {
    font-size: 35px;
  }
  .coding {
    width: 200px;
  }
  .developer,
  .based,
  .maple-leaf {
    font-size: 32px;
  }
  .primary-link {
    display: block;
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
  }
  .resp {
    font-size: 15px;
  }
  .resp-img {
    width: 35px;
    height: 100%;
  }
}
